/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-rone-blocks-2 {
  color: #000;
  width: auto;
}

.wp-block-create-block-rone-blocks-2 {
	padding: 1rem;
  &__wrapper {
	border-radius: 8px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	background: #000;
	img {
	  background: #ffffff;
	  width: 250px;
	  border:	  1px solid;
	  border-radius: 50%;
	  overflow: hidden;
	  margin: 2rem auto;
	  padding: 1rem;
	}
	&__table {
	  display: grid;
	  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	  div {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 8px;
		margin: 1rem;

		&:nth-child(odd) {
		  background: #000000;
		  color: #ffffff;
		  &:hover {
			background: lightgrey;
			cursor: pointer;
		  }
		}
		&:nth-child(even) {
		  background: #ffffff;
		}
	  }
	}
  }

}
